@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --fonte-primaria: "Oswald", sans-serif;

    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.apresentacao__imagem1{
    width: 30%;
}